src/conf/xml-resources/web-service-references/publicador_11/wsdl/localhost_2222/ws/publicador.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="CompraCuponeraNotFoundException" type="tns:CompraCuponeraNotFoundException"/>

<xs:element name="MaxClasesForCuponera" type="tns:MaxClasesForCuponera"/>

<xs:element name="UnauthorizedException" type="tns:UnauthorizedException"/>

<xs:complexType name="socioDTO">
<xs:complexContent>
<xs:extension base="tns:usuarioDTO">
<xs:sequence>
<xs:element name="registros" type="tns:dtRegistro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuarioDTO">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0"/>
<xs:element name="NICKNAME" type="xs:string" minOccurs="0"/>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="NACIMIENTO" type="xs:dateTime" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="seguidos" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seguidores" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="blobImage" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtRegistro">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="costo" type="xs:float" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="socioName" type="xs:string" minOccurs="0"/>
<xs:element name="claseName" type="xs:string" minOccurs="0"/>
<xs:element name="clase" type="tns:dtClase" minOccurs="0"/>
<xs:element name="socio" type="tns:socioDTO" minOccurs="0"/>
<xs:element name="puntuacionProfesor" type="tns:dtPuntuacionProfesor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtClase">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="profesor" type="xs:string" minOccurs="0"/>
<xs:element name="ProfesorId" type="xs:int"/>
<xs:element name="capMinima" type="xs:int"/>
<xs:element name="capMaxima" type="xs:int"/>
<xs:element name="urlAcceso" type="xs:string" minOccurs="0"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="registros" type="tns:dtRegistro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idActividad" type="xs:int"/>
<xs:element name="actividadName" type="xs:string" minOccurs="0"/>
<xs:element name="idInstitucion" type="xs:int"/>
<xs:element name="premio" type="tns:premioDTO" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="imageBlob" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="linkClase" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premioDTO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cantidadSorteados" type="xs:int"/>
<xs:element name="fueSorteado" type="xs:boolean"/>
<xs:element name="registros" type="tns:dtRegistro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="clase" type="tns:dtClase" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPuntuacionProfesor">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UnauthorizedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesorDTO">
<xs:complexContent>
<xs:extension base="tns:usuarioDTO">
<xs:sequence>
<xs:element name="descripcionGeneral" type="xs:string" minOccurs="0"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="linkSitioWeb" type="xs:string" minOccurs="0"/>
<xs:element name="instituciones" type="tns:dtInstitucion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="actividades" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtInstitucion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="profesores" type="tns:profesorDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="actividades" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="totalActividadesAceptadas" type="xs:int"/>
<xs:element name="imageBlob" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividadDTO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="costo" type="xs:float"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="profesor" type="tns:profesorDTO" minOccurs="0"/>
<xs:element name="clases" type="tns:dtClase" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cuponerasXActivdad" type="tns:dtCuponeraXActividad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="categorias" type="tns:dtCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="imageBlob" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="favoritos" type="tns:favoritoDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="institucion" type="tns:dtInstitucion" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCuponeraXActividad">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="cantClases" type="xs:int"/>
<xs:element name="actividad" type="tns:actividadDTO" minOccurs="0"/>
<xs:element name="cuponera" type="tns:dtCuponera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCuponera">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="periodoVigencia" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descuento" type="xs:int"/>
<xs:element name="cuponerasXActividad" type="tns:dtCuponeraXActividad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="blobImage" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategoria">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="totalActividades" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="favoritoDTO">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
<xs:element name="actid" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaxClasesForCuponera">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CompraCuponeraNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>