src/conf/xml-resources/web-service-references/publicador_76/wsdl/localhost_2222/ws/publicador.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="CompraCuponeraNotFoundException" type="tns:CompraCuponeraNotFoundException"/>

<xs:element name="CuponeraAlreadyPurchaseBySocio" type="tns:CuponeraAlreadyPurchaseBySocio"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="MaxClasesForCuponera" type="tns:MaxClasesForCuponera"/>

<xs:element name="PremioNotFoundException" type="tns:PremioNotFoundException"/>

<xs:element name="UnauthorizedException" type="tns:UnauthorizedException"/>

<xs:element name="agregarRegistro" type="tns:agregarRegistro"/>

<xs:element name="agregarRegistroResponse" type="tns:agregarRegistroResponse"/>

<xs:element name="agregarRegistroSinCuponera" type="tns:agregarRegistroSinCuponera"/>

<xs:element name="agregarRegistroSinCuponeraResponse" type="tns:agregarRegistroSinCuponeraResponse"/>

<xs:element name="cambiarEstadoActividad" type="tns:cambiarEstadoActividad"/>

<xs:element name="cambiarEstadoActividadResponse" type="tns:cambiarEstadoActividadResponse"/>

<xs:element name="comprarCuponera" type="tns:comprarCuponera"/>

<xs:element name="comprarCuponeraResponse" type="tns:comprarCuponeraResponse"/>

<xs:element name="consultarClase" type="tns:consultarClase"/>

<xs:element name="consultarClaseResponse" type="tns:consultarClaseResponse"/>

<xs:element name="consultarCuponera" type="tns:consultarCuponera"/>

<xs:element name="consultarCuponeraResponse" type="tns:consultarCuponeraResponse"/>

<xs:element name="consultarSigueUsuario" type="tns:consultarSigueUsuario"/>

<xs:element name="consultarSigueUsuarioResponse" type="tns:consultarSigueUsuarioResponse"/>

<xs:element name="consultarSocio" type="tns:consultarSocio"/>

<xs:element name="consultarSocioResponse" type="tns:consultarSocioResponse"/>

<xs:element name="crearProfe" type="tns:crearProfe"/>

<xs:element name="crearProfeResponse" type="tns:crearProfeResponse"/>

<xs:element name="crearRegistroSitio" type="tns:crearRegistroSitio"/>

<xs:element name="crearRegistroSitioResponse" type="tns:crearRegistroSitioResponse"/>

<xs:element name="crearSocio" type="tns:crearSocio"/>

<xs:element name="crearSocioResponse" type="tns:crearSocioResponse"/>

<xs:element name="createPuntuacionProfesor" type="tns:createPuntuacionProfesor"/>

<xs:element name="createPuntuacionProfesorResponse" type="tns:createPuntuacionProfesorResponse"/>

<xs:element name="createWithCategorias" type="tns:createWithCategorias"/>

<xs:element name="createWithCategoriasResponse" type="tns:createWithCategoriasResponse"/>

<xs:element name="dejarSeguirUsuario" type="tns:dejarSeguirUsuario"/>

<xs:element name="dejarSeguirUsuarioResponse" type="tns:dejarSeguirUsuarioResponse"/>

<xs:element name="editProfeInfo" type="tns:editProfeInfo"/>

<xs:element name="editProfeInfoResponse" type="tns:editProfeInfoResponse"/>

<xs:element name="editSocioInfo" type="tns:editSocioInfo"/>

<xs:element name="editSocioInfoResponse" type="tns:editSocioInfoResponse"/>

<xs:element name="existeInstitucion" type="tns:existeInstitucion"/>

<xs:element name="existeInstitucionResponse" type="tns:existeInstitucionResponse"/>

<xs:element name="getActividadById" type="tns:getActividadById"/>

<xs:element name="getActividadByIdResponse" type="tns:getActividadByIdResponse"/>

<xs:element name="getActividadesAceptadasSize" type="tns:getActividadesAceptadasSize"/>

<xs:element name="getActividadesAceptadasSizeResponse" type="tns:getActividadesAceptadasSizeResponse"/>

<xs:element name="getActividadesWithLimitAndAccepted" type="tns:getActividadesWithLimitAndAccepted"/>

<xs:element name="getActividadesWithLimitAndAcceptedResponse" type="tns:getActividadesWithLimitAndAcceptedResponse"/>

<xs:element name="getCantValoracionByClass" type="tns:getCantValoracionByClass"/>

<xs:element name="getCantValoracionByClassResponse" type="tns:getCantValoracionByClassResponse"/>

<xs:element name="getProfesorById" type="tns:getProfesorById"/>

<xs:element name="getProfesorByIdResponse" type="tns:getProfesorByIdResponse"/>

<xs:element name="getRegistroById" type="tns:getRegistroById"/>

<xs:element name="getRegistroByIdResponse" type="tns:getRegistroByIdResponse"/>

<xs:element name="getSeguidoresByUser" type="tns:getSeguidoresByUser"/>

<xs:element name="getSeguidoresByUserResponse" type="tns:getSeguidoresByUserResponse"/>

<xs:element name="getSeguidosByUser" type="tns:getSeguidosByUser"/>

<xs:element name="getSeguidosByUserResponse" type="tns:getSeguidosByUserResponse"/>

<xs:element name="getTipoById" type="tns:getTipoById"/>

<xs:element name="getTipoByIdResponse" type="tns:getTipoByIdResponse"/>

<xs:element name="getUserByEmail" type="tns:getUserByEmail"/>

<xs:element name="getUserByEmailResponse" type="tns:getUserByEmailResponse"/>

<xs:element name="getUserByNickname" type="tns:getUserByNickname"/>

<xs:element name="getUserByNicknameResponse" type="tns:getUserByNicknameResponse"/>

<xs:element name="getValoracionByClass" type="tns:getValoracionByClass"/>

<xs:element name="getValoracionByClassResponse" type="tns:getValoracionByClassResponse"/>

<xs:element name="getValoracionesGeneralesByProfe" type="tns:getValoracionesGeneralesByProfe"/>

<xs:element name="getValoracionesGeneralesByProfeResponse" type="tns:getValoracionesGeneralesByProfeResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="imprimirPremio" type="tns:imprimirPremio"/>

<xs:element name="imprimirPremioResponse" type="tns:imprimirPremioResponse"/>

<xs:element name="insertarClase" type="tns:insertarClase"/>

<xs:element name="insertarClaseAndPremio" type="tns:insertarClaseAndPremio"/>

<xs:element name="insertarClaseAndPremioResponse" type="tns:insertarClaseAndPremioResponse"/>

<xs:element name="insertarClaseResponse" type="tns:insertarClaseResponse"/>

<xs:element name="listarActividadesByCategorias" type="tns:listarActividadesByCategorias"/>

<xs:element name="listarActividadesByCategoriasResponse" type="tns:listarActividadesByCategoriasResponse"/>

<xs:element name="listarActividadesByInstitucionAndEstado" type="tns:listarActividadesByInstitucionAndEstado"/>

<xs:element name="listarActividadesByInstitucionAndEstadoResponse" type="tns:listarActividadesByInstitucionAndEstadoResponse"/>

<xs:element name="listarActividadesByProfesor" type="tns:listarActividadesByProfesor"/>

<xs:element name="listarActividadesByProfesorResponse" type="tns:listarActividadesByProfesorResponse"/>

<xs:element name="listarCategorias" type="tns:listarCategorias"/>

<xs:element name="listarCategoriasResponse" type="tns:listarCategoriasResponse"/>

<xs:element name="listarCuponerasAdquiridasBySocio" type="tns:listarCuponerasAdquiridasBySocio"/>

<xs:element name="listarCuponerasAdquiridasBySocioResponse" type="tns:listarCuponerasAdquiridasBySocioResponse"/>

<xs:element name="listarCuponerasBySocio" type="tns:listarCuponerasBySocio"/>

<xs:element name="listarCuponerasBySocioResponse" type="tns:listarCuponerasBySocioResponse"/>

<xs:element name="listarCuponerasDisponiblesBySocio" type="tns:listarCuponerasDisponiblesBySocio"/>

<xs:element name="listarCuponerasDisponiblesBySocioResponse" type="tns:listarCuponerasDisponiblesBySocioResponse"/>

<xs:element name="listarInstituciones" type="tns:listarInstituciones"/>

<xs:element name="listarInstitucionesResponse" type="tns:listarInstitucionesResponse"/>

<xs:element name="listarUsuarios" type="tns:listarUsuarios"/>

<xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="premioById" type="tns:premioById"/>

<xs:element name="premioByIdResponse" type="tns:premioByIdResponse"/>

<xs:element name="premiosOfUser" type="tns:premiosOfUser"/>

<xs:element name="premiosOfUserResponse" type="tns:premiosOfUserResponse"/>

<xs:element name="publicar" type="tns:publicar"/>

<xs:element name="publicarResponse" type="tns:publicarResponse"/>

<xs:element name="realizarSorteo" type="tns:realizarSorteo"/>

<xs:element name="realizarSorteoResponse" type="tns:realizarSorteoResponse"/>

<xs:element name="seguirUsuario" type="tns:seguirUsuario"/>

<xs:element name="seguirUsuarioResponse" type="tns:seguirUsuarioResponse"/>

<xs:element name="toggleFavoritoActividad" type="tns:toggleFavoritoActividad"/>

<xs:element name="toggleFavoritoActividadResponse" type="tns:toggleFavoritoActividadResponse"/>

<xs:complexType name="consultarClase">
<xs:sequence>
<xs:element name="claseId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarClaseResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtClase" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtClase">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="profesor" type="xs:string" minOccurs="0"/>
<xs:element name="ProfesorId" type="xs:int"/>
<xs:element name="capMinima" type="xs:int"/>
<xs:element name="capMaxima" type="xs:int"/>
<xs:element name="urlAcceso" type="xs:string" minOccurs="0"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="registros" type="tns:dtRegistro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idActividad" type="xs:int"/>
<xs:element name="actividadName" type="xs:string" minOccurs="0"/>
<xs:element name="idInstitucion" type="xs:int"/>
<xs:element name="premio" type="tns:premioDTO" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="imageBlob" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="linkClase" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtRegistro">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="costo" type="xs:float" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="socioName" type="xs:string" minOccurs="0"/>
<xs:element name="claseName" type="xs:string" minOccurs="0"/>
<xs:element name="clase" type="tns:dtClase" minOccurs="0"/>
<xs:element name="socio" type="tns:socioDTO" minOccurs="0"/>
<xs:element name="puntuacionProfesor" type="tns:dtPuntuacionProfesor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="socioDTO">
<xs:complexContent>
<xs:extension base="tns:usuarioDTO">
<xs:sequence>
<xs:element name="registros" type="tns:dtRegistro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuarioDTO">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0"/>
<xs:element name="NICKNAME" type="xs:string" minOccurs="0"/>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="NACIMIENTO" type="xs:dateTime" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="seguidos" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seguidores" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="blobImage" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPuntuacionProfesor">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="puntuacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premioDTO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cantidadSorteados" type="xs:int"/>
<xs:element name="fueSorteado" type="xs:boolean"/>
<xs:element name="registros" type="tns:dtRegistro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="clase" type="tns:dtClase" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getValoracionByClass">
<xs:sequence>
<xs:element name="claseId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getValoracionByClassResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createWithCategorias">
<xs:sequence>
<xs:element name="actInfo" type="tns:actividadCreateDTO" minOccurs="0"/>
<xs:element name="instId" type="xs:int"/>
<xs:element name="profId" type="xs:int"/>
<xs:element name="categorias" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividadCreateDTO">
<xs:sequence>
<xs:element name="institucion_id" type="xs:int"/>
<xs:element name="costo" type="xs:float"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="fecha_registro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="profesor_id" type="xs:int"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="categorias" type="tns:dtCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategoria">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="totalActividades" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createWithCategoriasResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActividadById">
<xs:sequence>
<xs:element name="actId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActividadByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividadDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividadDTO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:int"/>
<xs:element name="costo" type="xs:float"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="profesor" type="tns:profesorDTO" minOccurs="0"/>
<xs:element name="clases" type="tns:dtClase" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cuponerasXActivdad" type="tns:dtCuponeraXActividad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="categorias" type="tns:dtCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="imageBlob" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="favoritos" type="tns:favoritoDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="institucion" type="tns:dtInstitucion" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesorDTO">
<xs:complexContent>
<xs:extension base="tns:usuarioDTO">
<xs:sequence>
<xs:element name="descripcionGeneral" type="xs:string" minOccurs="0"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="linkSitioWeb" type="xs:string" minOccurs="0"/>
<xs:element name="instituciones" type="tns:dtInstitucion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="actividades" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtInstitucion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="profesores" type="tns:profesorDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="actividades" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="totalActividadesAceptadas" type="xs:int"/>
<xs:element name="imageBlob" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCuponeraXActividad">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="cantClases" type="xs:int"/>
<xs:element name="actividad" type="tns:actividadDTO" minOccurs="0"/>
<xs:element name="cuponera" type="tns:dtCuponera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCuponera">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="periodoVigencia" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descuento" type="xs:int"/>
<xs:element name="cuponerasXActividad" type="tns:dtCuponeraXActividad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="blobImage" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="favoritoDTO">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
<xs:element name="actid" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRegistroSinCuponera">
<xs:sequence>
<xs:element name="socioID" type="xs:int"/>
<xs:element name="claseID" type="xs:int"/>
<xs:element name="registro" type="tns:dtRegistro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRegistroSinCuponeraResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MaxClasesForCuponera">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CompraCuponeraNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByNickname">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByNicknameResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuarioDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadesByProfesor">
<xs:sequence>
<xs:element name="profeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadesByProfesorResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClase">
<xs:sequence>
<xs:element name="actId" type="xs:int"/>
<xs:element name="claseInfo" type="tns:dtClase" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClaseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="comprarCuponera">
<xs:sequence>
<xs:element name="socioID" type="xs:int"/>
<xs:element name="cuponeraId" type="xs:int"/>
<xs:element name="actividadId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprarCuponeraResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CuponeraAlreadyPurchaseBySocio">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguirUsuario">
<xs:sequence>
<xs:element name="personOneId" type="xs:int"/>
<xs:element name="personTwoId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguirUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCuponerasDisponiblesBySocio">
<xs:sequence>
<xs:element name="idSocio" type="xs:int"/>
<xs:element name="actId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCuponerasDisponiblesBySocioResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCuponera" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadesByInstitucionAndEstado">
<xs:sequence>
<xs:element name="instId" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadesByInstitucionAndEstadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editSocioInfo">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
<xs:element name="data" type="tns:socioEditDTO" minOccurs="0"/>
<xs:element name="newPasword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="socioEditDTO">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:unsignedShort" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editSocioInfoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="premioById">
<xs:sequence>
<xs:element name="premioId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premioByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:premioDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PremioNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toggleFavoritoActividad">
<xs:sequence>
<xs:element name="actId" type="xs:int"/>
<xs:element name="socioId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="toggleFavoritoActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeInstitucion">
<xs:sequence>
<xs:element name="instId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeInstitucionResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtInstitucion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegistroById">
<xs:sequence>
<xs:element name="regId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegistroByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtRegistro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarInstituciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarInstitucionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtInstitucion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCuponerasAdquiridasBySocio">
<xs:sequence>
<xs:element name="profeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCuponerasAdquiridasBySocioResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCuponera" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadesByCategorias">
<xs:sequence>
<xs:element name="categorias" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadesByCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarSeguirUsuario">
<xs:sequence>
<xs:element name="personOneId" type="xs:int"/>
<xs:element name="personTwoId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejarSeguirUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTipoById">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTipoByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActividadesAceptadasSize">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActividadesAceptadasSizeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoActividad">
<xs:sequence>
<xs:element name="actividadId" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoActividadResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuarioDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnauthorizedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClaseAndPremio">
<xs:sequence>
<xs:element name="actId" type="xs:int"/>
<xs:element name="claseInfo" type="tns:dtClase" minOccurs="0"/>
<xs:element name="premioName" type="xs:string" minOccurs="0"/>
<xs:element name="premioCant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClaseAndPremioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="imprimirPremio">
<xs:sequence>
<xs:element name="premioId" type="xs:int"/>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="imprimirPremioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="publicarResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCantValoracionByClass">
<xs:sequence>
<xs:element name="claseId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCantValoracionByClassResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActividadesWithLimitAndAccepted">
<xs:sequence>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActividadesWithLimitAndAcceptedResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividadDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeguidoresByUser">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeguidoresByUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCuponerasBySocio">
<xs:sequence>
<xs:element name="idSocio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCuponerasBySocioResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCuponera" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeguidosByUser">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSeguidosByUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getValoracionesGeneralesByProfe">
<xs:sequence>
<xs:element name="profeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getValoracionesGeneralesByProfeResponse">
<xs:sequence>
<xs:element name="return" type="tns:profesorPuntuacionesDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesorPuntuacionesDTO">
<xs:sequence>
<xs:element name="meanPuntuacion" type="xs:double"/>
<xs:element name="percentageOne" type="xs:double"/>
<xs:element name="percentageTwo" type="xs:double"/>
<xs:element name="percentageThree" type="xs:double"/>
<xs:element name="percentageFour" type="xs:double"/>
<xs:element name="percentageFive" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProfesorById">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProfesorByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:profesorDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarSorteo">
<xs:sequence>
<xs:element name="idPremio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarSorteoResponse">
<xs:sequence>
<xs:element name="return" type="tns:socioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSigueUsuario">
<xs:sequence>
<xs:element name="personOneId" type="xs:int"/>
<xs:element name="personTwoId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSigueUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRegistro">
<xs:sequence>
<xs:element name="socioID" type="xs:int"/>
<xs:element name="claseID" type="xs:int"/>
<xs:element name="registro" type="tns:dtRegistro" minOccurs="0"/>
<xs:element name="cuponeraId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRegistroResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createPuntuacionProfesor">
<xs:sequence>
<xs:element name="puntuacion" type="xs:int"/>
<xs:element name="socioId" type="xs:int"/>
<xs:element name="registroIdInt" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPuntuacionProfesorResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtPuntuacionProfesor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRegistroSitio">
<xs:sequence>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="browser" type="xs:string" minOccurs="0"/>
<xs:element name="os" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRegistroSitioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarCuponera">
<xs:sequence>
<xs:element name="cuponeraId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarCuponeraResponse">
<xs:sequence>
<xs:element name="return" type="tns:dtCuponera" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premiosOfUser">
<xs:sequence>
<xs:element name="socioId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="premiosOfUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:premioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearSocio">
<xs:sequence>
<xs:element name="data" type="tns:socioCreateDTO" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="socioCreateDTO">
<xs:complexContent>
<xs:extension base="tns:usuarioCreateDTO">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="nacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuarioCreateDTO" abstract="true">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:unsignedShort" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearSocioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarSocio">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSocioResponse">
<xs:sequence>
<xs:element name="return" type="tns:socioDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProfe">
<xs:sequence>
<xs:element name="data" type="tns:profesorCreateDTO" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesorCreateDTO">
<xs:complexContent>
<xs:extension base="tns:usuarioCreateDTO">
<xs:sequence>
<xs:element name="descripcionGeneral" type="xs:string" minOccurs="0"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="linkSitioWeb" type="xs:string" minOccurs="0"/>
<xs:element name="idInstitucion" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="crearProfeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserByEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuarioDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProfeInfo">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
<xs:element name="data" type="tns:profesorEditDTO" minOccurs="0"/>
<xs:element name="newPasword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesorEditDTO">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:unsignedShort" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="descripcionGeneral" type="xs:string" minOccurs="0"/>
<xs:element name="biografia" type="xs:string" minOccurs="0"/>
<xs:element name="linkSitioWeb" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProfeInfoResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>