src/conf/xml-resources/web-service-references/publicador_69/wsdl/localhost_2222/ws/publicador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Publicador">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:2222/ws/publicador?xsd=1"/>
</xsd:schema>
</types>
<message name="listarInstituciones"/>
<message name="listarInstitucionesResponse">
<part name="return" type="tns:dtInstitucionArray"/>
</message>
<message name="publicar"/>
<message name="publicarResponse"/>
<message name="login">
<part name="email" type="xsd:string"/>
<part name="password" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="agregarRegistro">
<part name="socioID" type="xsd:int"/>
<part name="claseID" type="xsd:int"/>
<part name="registro" type="tns:dtRegistro"/>
<part name="cuponeraId" type="xsd:int"/>
</message>
<message name="agregarRegistroResponse"/>
<message name="MaxClasesForCuponera">
<part name="fault" element="tns:MaxClasesForCuponera"/>
</message>
<message name="CompraCuponeraNotFoundException">
<part name="fault" element="tns:CompraCuponeraNotFoundException"/>
</message>
<message name="getActividadesWithLimitAndAccepted">
<part name="size" type="xsd:int"/>
</message>
<message name="getActividadesWithLimitAndAcceptedResponse">
<part name="return" type="tns:actividadDTOArray"/>
</message>
<message name="listarCuponerasDisponiblesBySocio">
<part name="idSocio" type="xsd:int"/>
<part name="actId" type="xsd:int"/>
</message>
<message name="listarCuponerasDisponiblesBySocioResponse">
<part name="return" type="tns:dtCuponeraArray"/>
</message>
<message name="listarActividadesByInstitucionAndEstado">
<part name="instId" type="xsd:int"/>
<part name="estado" type="xsd:string"/>
</message>
<message name="listarActividadesByInstitucionAndEstadoResponse">
<part name="return" type="tns:actividadDTOArray"/>
</message>
<message name="listarCategorias"/>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dtCategoriaArray"/>
</message>
<message name="listarUsuarios"/>
<message name="listarUsuariosResponse">
<part name="return" type="tns:usuarioDTOArray"/>
</message>
<message name="comprarCuponera">
<part name="socioID" type="xsd:int"/>
<part name="cuponeraId" type="xsd:int"/>
<part name="actividadId" type="xsd:int"/>
</message>
<message name="comprarCuponeraResponse"/>
<message name="CuponeraAlreadyPurchaseBySocio">
<part name="fault" element="tns:CuponeraAlreadyPurchaseBySocio"/>
</message>
<message name="consultarSocio">
<part name="userId" type="xsd:int"/>
</message>
<message name="consultarSocioResponse">
<part name="return" type="tns:socioDTO"/>
</message>
<message name="consultarClase">
<part name="claseId" type="xsd:int"/>
</message>
<message name="consultarClaseResponse">
<part name="return" type="tns:dtClase"/>
</message>
<message name="crearSocio">
<part name="data" type="tns:socioCreateDTO"/>
<part name="password" type="xsd:string"/>
</message>
<message name="crearSocioResponse"/>
<message name="getProfesorById">
<part name="userId" type="xsd:int"/>
</message>
<message name="getProfesorByIdResponse">
<part name="return" type="tns:profesorDTO"/>
</message>
<message name="imprimirPremio">
<part name="premioId" type="xsd:int"/>
<part name="userId" type="xsd:int"/>
</message>
<message name="imprimirPremioResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="insertarClase">
<part name="actId" type="xsd:int"/>
<part name="claseInfo" type="tns:dtClase"/>
</message>
<message name="insertarClaseResponse"/>
<message name="premiosOfUser">
<part name="socioId" type="xsd:int"/>
</message>
<message name="premiosOfUserResponse">
<part name="return" type="tns:premioDTOArray"/>
</message>
<message name="hello">
<part name="name" type="xsd:string"/>
</message>
<message name="helloResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="premioById">
<part name="premioId" type="xsd:int"/>
</message>
<message name="premioByIdResponse">
<part name="return" type="tns:premioDTO"/>
</message>
<message name="PremioNotFoundException">
<part name="fault" element="tns:PremioNotFoundException"/>
</message>
<message name="getActividadById">
<part name="actId" type="xsd:int"/>
</message>
<message name="getActividadByIdResponse">
<part name="return" type="tns:actividadDTO"/>
</message>
<message name="getUserByEmail">
<part name="email" type="xsd:string"/>
</message>
<message name="getUserByEmailResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="editProfeInfo">
<part name="userId" type="xsd:int"/>
<part name="data" type="tns:profesorEditDTO"/>
</message>
<message name="editProfeInfoResponse"/>
<message name="editSocioInfo">
<part name="userId" type="xsd:int"/>
<part name="data" type="tns:socioEditDTO"/>
</message>
<message name="editSocioInfoResponse"/>
<message name="realizarSorteo">
<part name="idPremio" type="xsd:int"/>
</message>
<message name="realizarSorteoResponse">
<part name="return" type="tns:socioDTOArray"/>
</message>
<message name="getRegistroById">
<part name="regId" type="xsd:int"/>
</message>
<message name="getRegistroByIdResponse">
<part name="return" type="tns:dtRegistro"/>
</message>
<message name="seguirUsuario">
<part name="personOneId" type="xsd:int"/>
<part name="personTwoId" type="xsd:int"/>
</message>
<message name="seguirUsuarioResponse"/>
<message name="crearProfe">
<part name="data" type="tns:profesorCreateDTO"/>
<part name="password" type="xsd:string"/>
</message>
<message name="crearProfeResponse"/>
<message name="getTipoById">
<part name="userId" type="xsd:int"/>
</message>
<message name="getTipoByIdResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getActividadesAceptadasSize"/>
<message name="getActividadesAceptadasSizeResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="createWithCategorias">
<part name="actInfo" type="tns:actividadCreateDTO"/>
<part name="instId" type="xsd:int"/>
<part name="profId" type="xsd:int"/>
<part name="categorias" type="xsd:string"/>
</message>
<message name="createWithCategoriasResponse"/>
<message name="existeInstitucion">
<part name="instId" type="xsd:int"/>
</message>
<message name="existeInstitucionResponse">
<part name="return" type="tns:dtInstitucion"/>
</message>
<message name="listarActividadesByProfesor">
<part name="profeId" type="xsd:int"/>
</message>
<message name="listarActividadesByProfesorResponse">
<part name="return" type="tns:actividadDTOArray"/>
</message>
<message name="listarActividadesByCategorias">
<part name="categorias" type="xsd:string"/>
<part name="estado" type="xsd:string"/>
</message>
<message name="listarActividadesByCategoriasResponse">
<part name="return" type="tns:actividadDTOArray"/>
</message>
<message name="createPuntuacionProfesor">
<part name="puntuacion" type="xsd:int"/>
<part name="socioId" type="xsd:int"/>
<part name="registroIdInt" type="xsd:int"/>
</message>
<message name="createPuntuacionProfesorResponse">
<part name="return" type="tns:dtPuntuacionProfesor"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getSeguidosByUser">
<part name="userId" type="xsd:int"/>
</message>
<message name="getSeguidosByUserResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="getCantValoracionByClass">
<part name="claseId" type="xsd:int"/>
</message>
<message name="getCantValoracionByClassResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="toggleFavoritoActividad">
<part name="actId" type="xsd:int"/>
<part name="socioId" type="xsd:int"/>
</message>
<message name="toggleFavoritoActividadResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="dejarSeguirUsuario">
<part name="personOneId" type="xsd:int"/>
<part name="personTwoId" type="xsd:int"/>
</message>
<message name="dejarSeguirUsuarioResponse"/>
<message name="consultarSigueUsuario">
<part name="personOneId" type="xsd:int"/>
<part name="personTwoId" type="xsd:int"/>
</message>
<message name="consultarSigueUsuarioResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="getValoracionByClass">
<part name="claseId" type="xsd:int"/>
</message>
<message name="getValoracionByClassResponse">
<part name="return" type="xsd:double"/>
</message>
<message name="getValoracionesGeneralesByProfe">
<part name="profeId" type="xsd:int"/>
</message>
<message name="getValoracionesGeneralesByProfeResponse">
<part name="return" type="tns:profesorPuntuacionesDTO"/>
</message>
<message name="getSeguidoresByUser">
<part name="userId" type="xsd:int"/>
</message>
<message name="getSeguidoresByUserResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="crearRegistroSitio">
<part name="ip" type="xsd:string"/>
<part name="url" type="xsd:string"/>
<part name="browser" type="xsd:string"/>
<part name="os" type="xsd:string"/>
</message>
<message name="crearRegistroSitioResponse"/>
<message name="agregarRegistroSinCuponera">
<part name="socioID" type="xsd:int"/>
<part name="claseID" type="xsd:int"/>
<part name="registro" type="tns:dtRegistro"/>
</message>
<message name="agregarRegistroSinCuponeraResponse"/>
<message name="cambiarEstadoActividad">
<part name="actividadId" type="xsd:int"/>
<part name="estado" type="xsd:string"/>
</message>
<message name="cambiarEstadoActividadResponse"/>
<message name="getUserByNickname">
<part name="nickname" type="xsd:string"/>
</message>
<message name="getUserByNicknameResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="insertarClaseAndPremio">
<part name="actId" type="xsd:int"/>
<part name="claseInfo" type="tns:dtClase"/>
<part name="premioName" type="xsd:string"/>
<part name="premioCant" type="xsd:int"/>
</message>
<message name="insertarClaseAndPremioResponse"/>
<message name="listarCuponerasBySocio">
<part name="idSocio" type="xsd:int"/>
</message>
<message name="listarCuponerasBySocioResponse">
<part name="return" type="tns:dtCuponeraArray"/>
</message>
<message name="listarCuponerasAdquiridasBySocio">
<part name="profeId" type="xsd:int"/>
</message>
<message name="listarCuponerasAdquiridasBySocioResponse">
<part name="return" type="tns:dtCuponeraArray"/>
</message>
<message name="consultarCuponera">
<part name="cuponeraId" type="xsd:int"/>
</message>
<message name="consultarCuponeraResponse">
<part name="return" type="tns:dtCuponera"/>
</message>
<portType name="Publicador">
<operation name="listarInstituciones">
<input wsam:Action="http://ws/Publicador/listarInstitucionesRequest" message="tns:listarInstituciones"/>
<output wsam:Action="http://ws/Publicador/listarInstitucionesResponse" message="tns:listarInstitucionesResponse"/>
</operation>
<operation name="publicar">
<input wsam:Action="http://ws/Publicador/publicarRequest" message="tns:publicar"/>
<output wsam:Action="http://ws/Publicador/publicarResponse" message="tns:publicarResponse"/>
</operation>
<operation name="login" parameterOrder="email password">
<input wsam:Action="http://ws/Publicador/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/Publicador/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://ws/Publicador/login/Fault/UnauthorizedException"/>
</operation>
<operation name="agregarRegistro" parameterOrder="socioID claseID registro cuponeraId">
<input wsam:Action="http://ws/Publicador/agregarRegistroRequest" message="tns:agregarRegistro"/>
<output wsam:Action="http://ws/Publicador/agregarRegistroResponse" message="tns:agregarRegistroResponse"/>
<fault message="tns:MaxClasesForCuponera" name="MaxClasesForCuponera" wsam:Action="http://ws/Publicador/agregarRegistro/Fault/MaxClasesForCuponera"/>
<fault message="tns:CompraCuponeraNotFoundException" name="CompraCuponeraNotFoundException" wsam:Action="http://ws/Publicador/agregarRegistro/Fault/CompraCuponeraNotFoundException"/>
</operation>
<operation name="getActividadesWithLimitAndAccepted">
<input wsam:Action="http://ws/Publicador/getActividadesWithLimitAndAcceptedRequest" message="tns:getActividadesWithLimitAndAccepted"/>
<output wsam:Action="http://ws/Publicador/getActividadesWithLimitAndAcceptedResponse" message="tns:getActividadesWithLimitAndAcceptedResponse"/>
</operation>
<operation name="listarCuponerasDisponiblesBySocio" parameterOrder="idSocio actId">
<input wsam:Action="http://ws/Publicador/listarCuponerasDisponiblesBySocioRequest" message="tns:listarCuponerasDisponiblesBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasDisponiblesBySocioResponse" message="tns:listarCuponerasDisponiblesBySocioResponse"/>
</operation>
<operation name="listarActividadesByInstitucionAndEstado" parameterOrder="instId estado">
<input wsam:Action="http://ws/Publicador/listarActividadesByInstitucionAndEstadoRequest" message="tns:listarActividadesByInstitucionAndEstado"/>
<output wsam:Action="http://ws/Publicador/listarActividadesByInstitucionAndEstadoResponse" message="tns:listarActividadesByInstitucionAndEstadoResponse"/>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://ws/Publicador/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://ws/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://ws/Publicador/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://ws/Publicador/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="comprarCuponera" parameterOrder="socioID cuponeraId actividadId">
<input wsam:Action="http://ws/Publicador/comprarCuponeraRequest" message="tns:comprarCuponera"/>
<output wsam:Action="http://ws/Publicador/comprarCuponeraResponse" message="tns:comprarCuponeraResponse"/>
<fault message="tns:CuponeraAlreadyPurchaseBySocio" name="CuponeraAlreadyPurchaseBySocio" wsam:Action="http://ws/Publicador/comprarCuponera/Fault/CuponeraAlreadyPurchaseBySocio"/>
</operation>
<operation name="consultarSocio">
<input wsam:Action="http://ws/Publicador/consultarSocioRequest" message="tns:consultarSocio"/>
<output wsam:Action="http://ws/Publicador/consultarSocioResponse" message="tns:consultarSocioResponse"/>
</operation>
<operation name="consultarClase">
<input wsam:Action="http://ws/Publicador/consultarClaseRequest" message="tns:consultarClase"/>
<output wsam:Action="http://ws/Publicador/consultarClaseResponse" message="tns:consultarClaseResponse"/>
</operation>
<operation name="crearSocio" parameterOrder="data password">
<input wsam:Action="http://ws/Publicador/crearSocioRequest" message="tns:crearSocio"/>
<output wsam:Action="http://ws/Publicador/crearSocioResponse" message="tns:crearSocioResponse"/>
</operation>
<operation name="getProfesorById">
<input wsam:Action="http://ws/Publicador/getProfesorByIdRequest" message="tns:getProfesorById"/>
<output wsam:Action="http://ws/Publicador/getProfesorByIdResponse" message="tns:getProfesorByIdResponse"/>
</operation>
<operation name="imprimirPremio" parameterOrder="premioId userId">
<input wsam:Action="http://ws/Publicador/imprimirPremioRequest" message="tns:imprimirPremio"/>
<output wsam:Action="http://ws/Publicador/imprimirPremioResponse" message="tns:imprimirPremioResponse"/>
</operation>
<operation name="insertarClase" parameterOrder="actId claseInfo">
<input wsam:Action="http://ws/Publicador/insertarClaseRequest" message="tns:insertarClase"/>
<output wsam:Action="http://ws/Publicador/insertarClaseResponse" message="tns:insertarClaseResponse"/>
</operation>
<operation name="premiosOfUser">
<input wsam:Action="http://ws/Publicador/premiosOfUserRequest" message="tns:premiosOfUser"/>
<output wsam:Action="http://ws/Publicador/premiosOfUserResponse" message="tns:premiosOfUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/Publicador/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/Publicador/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="premioById">
<input wsam:Action="http://ws/Publicador/premioByIdRequest" message="tns:premioById"/>
<output wsam:Action="http://ws/Publicador/premioByIdResponse" message="tns:premioByIdResponse"/>
<fault message="tns:PremioNotFoundException" name="PremioNotFoundException" wsam:Action="http://ws/Publicador/premioById/Fault/PremioNotFoundException"/>
</operation>
<operation name="getActividadById">
<input wsam:Action="http://ws/Publicador/getActividadByIdRequest" message="tns:getActividadById"/>
<output wsam:Action="http://ws/Publicador/getActividadByIdResponse" message="tns:getActividadByIdResponse"/>
</operation>
<operation name="getUserByEmail">
<input wsam:Action="http://ws/Publicador/getUserByEmailRequest" message="tns:getUserByEmail"/>
<output wsam:Action="http://ws/Publicador/getUserByEmailResponse" message="tns:getUserByEmailResponse"/>
</operation>
<operation name="editProfeInfo" parameterOrder="userId data">
<input wsam:Action="http://ws/Publicador/editProfeInfoRequest" message="tns:editProfeInfo"/>
<output wsam:Action="http://ws/Publicador/editProfeInfoResponse" message="tns:editProfeInfoResponse"/>
</operation>
<operation name="editSocioInfo" parameterOrder="userId data">
<input wsam:Action="http://ws/Publicador/editSocioInfoRequest" message="tns:editSocioInfo"/>
<output wsam:Action="http://ws/Publicador/editSocioInfoResponse" message="tns:editSocioInfoResponse"/>
</operation>
<operation name="realizarSorteo">
<input wsam:Action="http://ws/Publicador/realizarSorteoRequest" message="tns:realizarSorteo"/>
<output wsam:Action="http://ws/Publicador/realizarSorteoResponse" message="tns:realizarSorteoResponse"/>
</operation>
<operation name="getRegistroById">
<input wsam:Action="http://ws/Publicador/getRegistroByIdRequest" message="tns:getRegistroById"/>
<output wsam:Action="http://ws/Publicador/getRegistroByIdResponse" message="tns:getRegistroByIdResponse"/>
</operation>
<operation name="seguirUsuario" parameterOrder="personOneId personTwoId">
<input wsam:Action="http://ws/Publicador/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://ws/Publicador/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
</operation>
<operation name="crearProfe" parameterOrder="data password">
<input wsam:Action="http://ws/Publicador/crearProfeRequest" message="tns:crearProfe"/>
<output wsam:Action="http://ws/Publicador/crearProfeResponse" message="tns:crearProfeResponse"/>
</operation>
<operation name="getTipoById">
<input wsam:Action="http://ws/Publicador/getTipoByIdRequest" message="tns:getTipoById"/>
<output wsam:Action="http://ws/Publicador/getTipoByIdResponse" message="tns:getTipoByIdResponse"/>
</operation>
<operation name="getActividadesAceptadasSize">
<input wsam:Action="http://ws/Publicador/getActividadesAceptadasSizeRequest" message="tns:getActividadesAceptadasSize"/>
<output wsam:Action="http://ws/Publicador/getActividadesAceptadasSizeResponse" message="tns:getActividadesAceptadasSizeResponse"/>
</operation>
<operation name="createWithCategorias" parameterOrder="actInfo instId profId categorias">
<input wsam:Action="http://ws/Publicador/createWithCategoriasRequest" message="tns:createWithCategorias"/>
<output wsam:Action="http://ws/Publicador/createWithCategoriasResponse" message="tns:createWithCategoriasResponse"/>
</operation>
<operation name="existeInstitucion">
<input wsam:Action="http://ws/Publicador/existeInstitucionRequest" message="tns:existeInstitucion"/>
<output wsam:Action="http://ws/Publicador/existeInstitucionResponse" message="tns:existeInstitucionResponse"/>
</operation>
<operation name="listarActividadesByProfesor">
<input wsam:Action="http://ws/Publicador/listarActividadesByProfesorRequest" message="tns:listarActividadesByProfesor"/>
<output wsam:Action="http://ws/Publicador/listarActividadesByProfesorResponse" message="tns:listarActividadesByProfesorResponse"/>
</operation>
<operation name="listarActividadesByCategorias" parameterOrder="categorias estado">
<input wsam:Action="http://ws/Publicador/listarActividadesByCategoriasRequest" message="tns:listarActividadesByCategorias"/>
<output wsam:Action="http://ws/Publicador/listarActividadesByCategoriasResponse" message="tns:listarActividadesByCategoriasResponse"/>
</operation>
<operation name="createPuntuacionProfesor" parameterOrder="puntuacion socioId registroIdInt">
<input wsam:Action="http://ws/Publicador/createPuntuacionProfesorRequest" message="tns:createPuntuacionProfesor"/>
<output wsam:Action="http://ws/Publicador/createPuntuacionProfesorResponse" message="tns:createPuntuacionProfesorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/Publicador/createPuntuacionProfesor/Fault/Exception"/>
</operation>
<operation name="getSeguidosByUser">
<input wsam:Action="http://ws/Publicador/getSeguidosByUserRequest" message="tns:getSeguidosByUser"/>
<output wsam:Action="http://ws/Publicador/getSeguidosByUserResponse" message="tns:getSeguidosByUserResponse"/>
</operation>
<operation name="getCantValoracionByClass">
<input wsam:Action="http://ws/Publicador/getCantValoracionByClassRequest" message="tns:getCantValoracionByClass"/>
<output wsam:Action="http://ws/Publicador/getCantValoracionByClassResponse" message="tns:getCantValoracionByClassResponse"/>
</operation>
<operation name="toggleFavoritoActividad" parameterOrder="actId socioId">
<input wsam:Action="http://ws/Publicador/toggleFavoritoActividadRequest" message="tns:toggleFavoritoActividad"/>
<output wsam:Action="http://ws/Publicador/toggleFavoritoActividadResponse" message="tns:toggleFavoritoActividadResponse"/>
</operation>
<operation name="dejarSeguirUsuario" parameterOrder="personOneId personTwoId">
<input wsam:Action="http://ws/Publicador/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"/>
<output wsam:Action="http://ws/Publicador/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"/>
</operation>
<operation name="consultarSigueUsuario" parameterOrder="personOneId personTwoId">
<input wsam:Action="http://ws/Publicador/consultarSigueUsuarioRequest" message="tns:consultarSigueUsuario"/>
<output wsam:Action="http://ws/Publicador/consultarSigueUsuarioResponse" message="tns:consultarSigueUsuarioResponse"/>
</operation>
<operation name="getValoracionByClass">
<input wsam:Action="http://ws/Publicador/getValoracionByClassRequest" message="tns:getValoracionByClass"/>
<output wsam:Action="http://ws/Publicador/getValoracionByClassResponse" message="tns:getValoracionByClassResponse"/>
</operation>
<operation name="getValoracionesGeneralesByProfe">
<input wsam:Action="http://ws/Publicador/getValoracionesGeneralesByProfeRequest" message="tns:getValoracionesGeneralesByProfe"/>
<output wsam:Action="http://ws/Publicador/getValoracionesGeneralesByProfeResponse" message="tns:getValoracionesGeneralesByProfeResponse"/>
</operation>
<operation name="getSeguidoresByUser">
<input wsam:Action="http://ws/Publicador/getSeguidoresByUserRequest" message="tns:getSeguidoresByUser"/>
<output wsam:Action="http://ws/Publicador/getSeguidoresByUserResponse" message="tns:getSeguidoresByUserResponse"/>
</operation>
<operation name="crearRegistroSitio" parameterOrder="ip url browser os">
<input wsam:Action="http://ws/Publicador/crearRegistroSitioRequest" message="tns:crearRegistroSitio"/>
<output wsam:Action="http://ws/Publicador/crearRegistroSitioResponse" message="tns:crearRegistroSitioResponse"/>
</operation>
<operation name="agregarRegistroSinCuponera" parameterOrder="socioID claseID registro">
<input wsam:Action="http://ws/Publicador/agregarRegistroSinCuponeraRequest" message="tns:agregarRegistroSinCuponera"/>
<output wsam:Action="http://ws/Publicador/agregarRegistroSinCuponeraResponse" message="tns:agregarRegistroSinCuponeraResponse"/>
<fault message="tns:MaxClasesForCuponera" name="MaxClasesForCuponera" wsam:Action="http://ws/Publicador/agregarRegistroSinCuponera/Fault/MaxClasesForCuponera"/>
<fault message="tns:CompraCuponeraNotFoundException" name="CompraCuponeraNotFoundException" wsam:Action="http://ws/Publicador/agregarRegistroSinCuponera/Fault/CompraCuponeraNotFoundException"/>
</operation>
<operation name="cambiarEstadoActividad" parameterOrder="actividadId estado">
<input wsam:Action="http://ws/Publicador/cambiarEstadoActividadRequest" message="tns:cambiarEstadoActividad"/>
<output wsam:Action="http://ws/Publicador/cambiarEstadoActividadResponse" message="tns:cambiarEstadoActividadResponse"/>
</operation>
<operation name="getUserByNickname">
<input wsam:Action="http://ws/Publicador/getUserByNicknameRequest" message="tns:getUserByNickname"/>
<output wsam:Action="http://ws/Publicador/getUserByNicknameResponse" message="tns:getUserByNicknameResponse"/>
</operation>
<operation name="insertarClaseAndPremio" parameterOrder="actId claseInfo premioName premioCant">
<input wsam:Action="http://ws/Publicador/insertarClaseAndPremioRequest" message="tns:insertarClaseAndPremio"/>
<output wsam:Action="http://ws/Publicador/insertarClaseAndPremioResponse" message="tns:insertarClaseAndPremioResponse"/>
</operation>
<operation name="listarCuponerasBySocio">
<input wsam:Action="http://ws/Publicador/listarCuponerasBySocioRequest" message="tns:listarCuponerasBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasBySocioResponse" message="tns:listarCuponerasBySocioResponse"/>
</operation>
<operation name="listarCuponerasAdquiridasBySocio">
<input wsam:Action="http://ws/Publicador/listarCuponerasAdquiridasBySocioRequest" message="tns:listarCuponerasAdquiridasBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasAdquiridasBySocioResponse" message="tns:listarCuponerasAdquiridasBySocioResponse"/>
</operation>
<operation name="consultarCuponera">
<input wsam:Action="http://ws/Publicador/consultarCuponeraRequest" message="tns:consultarCuponera"/>
<output wsam:Action="http://ws/Publicador/consultarCuponeraResponse" message="tns:consultarCuponeraResponse"/>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listarInstituciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="agregarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="MaxClasesForCuponera">
<soap:fault name="MaxClasesForCuponera" use="literal"/>
</fault>
<fault name="CompraCuponeraNotFoundException">
<soap:fault name="CompraCuponeraNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getActividadesWithLimitAndAccepted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarCuponerasDisponiblesBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarActividadesByInstitucionAndEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="comprarCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="CuponeraAlreadyPurchaseBySocio">
<soap:fault name="CuponeraAlreadyPurchaseBySocio" use="literal"/>
</fault>
</operation>
<operation name="consultarSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="consultarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="crearSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getProfesorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="imprimirPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="insertarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="premiosOfUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="premioById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="PremioNotFoundException">
<soap:fault name="PremioNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getActividadById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="editProfeInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="editSocioInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="realizarSorteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getRegistroById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="crearProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getTipoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getActividadesAceptadasSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="createWithCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="existeInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarActividadesByProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarActividadesByCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="createPuntuacionProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSeguidosByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getCantValoracionByClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="toggleFavoritoActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="dejarSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="consultarSigueUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getValoracionByClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getValoracionesGeneralesByProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getSeguidoresByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="crearRegistroSitio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="agregarRegistroSinCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="MaxClasesForCuponera">
<soap:fault name="MaxClasesForCuponera" use="literal"/>
</fault>
<fault name="CompraCuponeraNotFoundException">
<soap:fault name="CompraCuponeraNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="cambiarEstadoActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getUserByNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="insertarClaseAndPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarCuponerasBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarCuponerasAdquiridasBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="consultarCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
</binding>
<service name="Publicador">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:2222/ws/publicador"/>
</port>
</service>
</definitions>