src/conf/xml-resources/web-service-references/publicador_38/wsdl/localhost_2222/ws/publicador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Publicador">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:2222/ws/publicador?xsd=1"/>
</xsd:schema>
</types>
<message name="listarCategorias"/>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dtCategoriaArray"/>
</message>
<message name="listarUsuarios"/>
<message name="listarUsuariosResponse">
<part name="return" type="tns:usuarioDTOArray"/>
</message>
<message name="comprarCuponera">
<part name="socioID" type="xsd:int"/>
<part name="cuponeraId" type="xsd:int"/>
<part name="actividadId" type="xsd:int"/>
</message>
<message name="comprarCuponeraResponse"/>
<message name="CuponeraAlreadyPurchaseBySocio">
<part name="fault" element="tns:CuponeraAlreadyPurchaseBySocio"/>
</message>
<message name="consultarSocio">
<part name="userId" type="xsd:int"/>
</message>
<message name="consultarSocioResponse">
<part name="return" type="tns:socioDTO"/>
</message>
<message name="getTipoById">
<part name="userId" type="xsd:int"/>
</message>
<message name="getTipoByIdResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="insertarClase">
<part name="actId" type="xsd:int"/>
<part name="claseInfo" type="tns:dtClase"/>
</message>
<message name="insertarClaseResponse"/>
<message name="getProfesorById">
<part name="userId" type="xsd:int"/>
</message>
<message name="getProfesorByIdResponse">
<part name="return" type="tns:profesorDTO"/>
</message>
<message name="consultarClase">
<part name="claseId" type="xsd:int"/>
</message>
<message name="consultarClaseResponse">
<part name="return" type="tns:dtClase"/>
</message>
<message name="hello">
<part name="name" type="xsd:string"/>
</message>
<message name="helloResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="imprimirPremio">
<part name="premioId" type="xsd:int"/>
<part name="userId" type="xsd:int"/>
</message>
<message name="imprimirPremioResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getUserByEmail">
<part name="email" type="xsd:string"/>
</message>
<message name="getUserByEmailResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="publicar"/>
<message name="publicarResponse"/>
<message name="login">
<part name="email" type="xsd:string"/>
<part name="password" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="agregarRegistro">
<part name="socioID" type="xsd:int"/>
<part name="claseID" type="xsd:int"/>
<part name="registro" type="tns:dtRegistro"/>
<part name="cuponeraId" type="xsd:int"/>
</message>
<message name="agregarRegistroResponse"/>
<message name="MaxClasesForCuponera">
<part name="fault" element="tns:MaxClasesForCuponera"/>
</message>
<message name="CompraCuponeraNotFoundException">
<part name="fault" element="tns:CompraCuponeraNotFoundException"/>
</message>
<message name="listarInstituciones"/>
<message name="listarInstitucionesResponse">
<part name="return" type="tns:dtInstitucionArray"/>
</message>
<message name="getActividadesAceptadasSize"/>
<message name="getActividadesAceptadasSizeResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="createWithCategorias">
<part name="actInfo" type="tns:actividadCreateDTO"/>
<part name="instId" type="xsd:int"/>
<part name="profId" type="xsd:int"/>
<part name="categorias" type="xsd:string"/>
</message>
<message name="createWithCategoriasResponse"/>
<message name="consultarCuponera">
<part name="cuponeraId" type="xsd:int"/>
</message>
<message name="consultarCuponeraResponse">
<part name="return" type="tns:dtCuponera"/>
</message>
<message name="listarCuponerasBySocio">
<part name="idSocio" type="xsd:int"/>
</message>
<message name="listarCuponerasBySocioResponse">
<part name="return" type="tns:dtCuponeraArray"/>
</message>
<message name="getUserByNickname">
<part name="nickname" type="xsd:string"/>
</message>
<message name="getUserByNicknameResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="cambiarEstadoActividad">
<part name="actividadId" type="xsd:int"/>
<part name="estado" type="xsd:string"/>
</message>
<message name="cambiarEstadoActividadResponse"/>
<message name="insertarClaseAndPremio">
<part name="actId" type="xsd:int"/>
<part name="claseInfo" type="tns:dtClase"/>
<part name="premioName" type="xsd:string"/>
<part name="premioCant" type="xsd:int"/>
</message>
<message name="insertarClaseAndPremioResponse"/>
<message name="getActividadesWithLimitAndAccepted">
<part name="size" type="xsd:int"/>
</message>
<message name="getActividadesWithLimitAndAcceptedResponse">
<part name="return" type="tns:actividadDTOArray"/>
</message>
<portType name="Publicador">
<operation name="listarCategorias">
<input wsam:Action="http://ws/Publicador/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://ws/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://ws/Publicador/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://ws/Publicador/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="comprarCuponera" parameterOrder="socioID cuponeraId actividadId">
<input wsam:Action="http://ws/Publicador/comprarCuponeraRequest" message="tns:comprarCuponera"/>
<output wsam:Action="http://ws/Publicador/comprarCuponeraResponse" message="tns:comprarCuponeraResponse"/>
<fault message="tns:CuponeraAlreadyPurchaseBySocio" name="CuponeraAlreadyPurchaseBySocio" wsam:Action="http://ws/Publicador/comprarCuponera/Fault/CuponeraAlreadyPurchaseBySocio"/>
</operation>
<operation name="consultarSocio">
<input wsam:Action="http://ws/Publicador/consultarSocioRequest" message="tns:consultarSocio"/>
<output wsam:Action="http://ws/Publicador/consultarSocioResponse" message="tns:consultarSocioResponse"/>
</operation>
<operation name="getTipoById">
<input wsam:Action="http://ws/Publicador/getTipoByIdRequest" message="tns:getTipoById"/>
<output wsam:Action="http://ws/Publicador/getTipoByIdResponse" message="tns:getTipoByIdResponse"/>
</operation>
<operation name="insertarClase" parameterOrder="actId claseInfo">
<input wsam:Action="http://ws/Publicador/insertarClaseRequest" message="tns:insertarClase"/>
<output wsam:Action="http://ws/Publicador/insertarClaseResponse" message="tns:insertarClaseResponse"/>
</operation>
<operation name="getProfesorById">
<input wsam:Action="http://ws/Publicador/getProfesorByIdRequest" message="tns:getProfesorById"/>
<output wsam:Action="http://ws/Publicador/getProfesorByIdResponse" message="tns:getProfesorByIdResponse"/>
</operation>
<operation name="consultarClase">
<input wsam:Action="http://ws/Publicador/consultarClaseRequest" message="tns:consultarClase"/>
<output wsam:Action="http://ws/Publicador/consultarClaseResponse" message="tns:consultarClaseResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/Publicador/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/Publicador/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="imprimirPremio" parameterOrder="premioId userId">
<input wsam:Action="http://ws/Publicador/imprimirPremioRequest" message="tns:imprimirPremio"/>
<output wsam:Action="http://ws/Publicador/imprimirPremioResponse" message="tns:imprimirPremioResponse"/>
</operation>
<operation name="getUserByEmail">
<input wsam:Action="http://ws/Publicador/getUserByEmailRequest" message="tns:getUserByEmail"/>
<output wsam:Action="http://ws/Publicador/getUserByEmailResponse" message="tns:getUserByEmailResponse"/>
</operation>
<operation name="publicar">
<input wsam:Action="http://ws/Publicador/publicarRequest" message="tns:publicar"/>
<output wsam:Action="http://ws/Publicador/publicarResponse" message="tns:publicarResponse"/>
</operation>
<operation name="login" parameterOrder="email password">
<input wsam:Action="http://ws/Publicador/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/Publicador/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://ws/Publicador/login/Fault/UnauthorizedException"/>
</operation>
<operation name="agregarRegistro" parameterOrder="socioID claseID registro cuponeraId">
<input wsam:Action="http://ws/Publicador/agregarRegistroRequest" message="tns:agregarRegistro"/>
<output wsam:Action="http://ws/Publicador/agregarRegistroResponse" message="tns:agregarRegistroResponse"/>
<fault message="tns:MaxClasesForCuponera" name="MaxClasesForCuponera" wsam:Action="http://ws/Publicador/agregarRegistro/Fault/MaxClasesForCuponera"/>
<fault message="tns:CompraCuponeraNotFoundException" name="CompraCuponeraNotFoundException" wsam:Action="http://ws/Publicador/agregarRegistro/Fault/CompraCuponeraNotFoundException"/>
</operation>
<operation name="listarInstituciones">
<input wsam:Action="http://ws/Publicador/listarInstitucionesRequest" message="tns:listarInstituciones"/>
<output wsam:Action="http://ws/Publicador/listarInstitucionesResponse" message="tns:listarInstitucionesResponse"/>
</operation>
<operation name="getActividadesAceptadasSize">
<input wsam:Action="http://ws/Publicador/getActividadesAceptadasSizeRequest" message="tns:getActividadesAceptadasSize"/>
<output wsam:Action="http://ws/Publicador/getActividadesAceptadasSizeResponse" message="tns:getActividadesAceptadasSizeResponse"/>
</operation>
<operation name="createWithCategorias" parameterOrder="actInfo instId profId categorias">
<input wsam:Action="http://ws/Publicador/createWithCategoriasRequest" message="tns:createWithCategorias"/>
<output wsam:Action="http://ws/Publicador/createWithCategoriasResponse" message="tns:createWithCategoriasResponse"/>
</operation>
<operation name="consultarCuponera">
<input wsam:Action="http://ws/Publicador/consultarCuponeraRequest" message="tns:consultarCuponera"/>
<output wsam:Action="http://ws/Publicador/consultarCuponeraResponse" message="tns:consultarCuponeraResponse"/>
</operation>
<operation name="listarCuponerasBySocio">
<input wsam:Action="http://ws/Publicador/listarCuponerasBySocioRequest" message="tns:listarCuponerasBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasBySocioResponse" message="tns:listarCuponerasBySocioResponse"/>
</operation>
<operation name="getUserByNickname">
<input wsam:Action="http://ws/Publicador/getUserByNicknameRequest" message="tns:getUserByNickname"/>
<output wsam:Action="http://ws/Publicador/getUserByNicknameResponse" message="tns:getUserByNicknameResponse"/>
</operation>
<operation name="cambiarEstadoActividad" parameterOrder="actividadId estado">
<input wsam:Action="http://ws/Publicador/cambiarEstadoActividadRequest" message="tns:cambiarEstadoActividad"/>
<output wsam:Action="http://ws/Publicador/cambiarEstadoActividadResponse" message="tns:cambiarEstadoActividadResponse"/>
</operation>
<operation name="insertarClaseAndPremio" parameterOrder="actId claseInfo premioName premioCant">
<input wsam:Action="http://ws/Publicador/insertarClaseAndPremioRequest" message="tns:insertarClaseAndPremio"/>
<output wsam:Action="http://ws/Publicador/insertarClaseAndPremioResponse" message="tns:insertarClaseAndPremioResponse"/>
</operation>
<operation name="getActividadesWithLimitAndAccepted">
<input wsam:Action="http://ws/Publicador/getActividadesWithLimitAndAcceptedRequest" message="tns:getActividadesWithLimitAndAccepted"/>
<output wsam:Action="http://ws/Publicador/getActividadesWithLimitAndAcceptedResponse" message="tns:getActividadesWithLimitAndAcceptedResponse"/>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="comprarCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="CuponeraAlreadyPurchaseBySocio">
<soap:fault name="CuponeraAlreadyPurchaseBySocio" use="literal"/>
</fault>
</operation>
<operation name="consultarSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getTipoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="insertarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getProfesorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="consultarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="imprimirPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="agregarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="MaxClasesForCuponera">
<soap:fault name="MaxClasesForCuponera" use="literal"/>
</fault>
<fault name="CompraCuponeraNotFoundException">
<soap:fault name="CompraCuponeraNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="listarInstituciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getActividadesAceptadasSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="createWithCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="consultarCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="listarCuponerasBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getUserByNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="cambiarEstadoActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="insertarClaseAndPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="getActividadesWithLimitAndAccepted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
</binding>
<service name="Publicador">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:2222/ws/publicador"/>
</port>
</service>
</definitions>