src/conf/xml-resources/web-service-references/publicador_4/wsdl/localhost_2222/ws/publicador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Publicador">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:2222/ws/publicador?xsd=1"/>
</xsd:schema>
</types>
<message name="publicar"/>
<message name="publicarResponse"/>
<message name="login">
<part name="email" type="xsd:string"/>
<part name="password" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="tns:usuarioDTO"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="getProfesorById">
<part name="email" type="xsd:int"/>
</message>
<message name="getProfesorByIdResponse">
<part name="return" type="tns:profesorDTO"/>
</message>
<message name="hello">
<part name="name" type="xsd:string"/>
</message>
<message name="helloResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="Publicador">
<operation name="publicar">
<input wsam:Action="http://ws/Publicador/publicarRequest" message="tns:publicar"/>
<output wsam:Action="http://ws/Publicador/publicarResponse" message="tns:publicarResponse"/>
</operation>
<operation name="login" parameterOrder="email password">
<input wsam:Action="http://ws/Publicador/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/Publicador/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://ws/Publicador/login/Fault/UnauthorizedException"/>
</operation>
<operation name="getProfesorById">
<input wsam:Action="http://ws/Publicador/getProfesorByIdRequest" message="tns:getProfesorById"/>
<output wsam:Action="http://ws/Publicador/getProfesorByIdResponse" message="tns:getProfesorByIdResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/Publicador/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/Publicador/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="publicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="getProfesorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"/>
</output>
</operation>
</binding>
<service name="Publicador">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:2222/ws/publicador"/>
</port>
</service>
</definitions>