src/conf/xml-resources/web-service-references/publicador_75/wsdl/localhost_2222/ws/publicador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Publicador">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:2222/ws/publicador?xsd=1"/>
</xsd:schema>
</types>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"/>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"/>
</message>
<message name="publicar">
<part name="parameters" element="tns:publicar"/>
</message>
<message name="publicarResponse">
<part name="parameters" element="tns:publicarResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="agregarRegistro">
<part name="parameters" element="tns:agregarRegistro"/>
</message>
<message name="agregarRegistroResponse">
<part name="parameters" element="tns:agregarRegistroResponse"/>
</message>
<message name="MaxClasesForCuponera">
<part name="fault" element="tns:MaxClasesForCuponera"/>
</message>
<message name="CompraCuponeraNotFoundException">
<part name="fault" element="tns:CompraCuponeraNotFoundException"/>
</message>
<message name="getActividadesWithLimitAndAccepted">
<part name="parameters" element="tns:getActividadesWithLimitAndAccepted"/>
</message>
<message name="getActividadesWithLimitAndAcceptedResponse">
<part name="parameters" element="tns:getActividadesWithLimitAndAcceptedResponse"/>
</message>
<message name="listarCuponerasDisponiblesBySocio">
<part name="parameters" element="tns:listarCuponerasDisponiblesBySocio"/>
</message>
<message name="listarCuponerasDisponiblesBySocioResponse">
<part name="parameters" element="tns:listarCuponerasDisponiblesBySocioResponse"/>
</message>
<message name="listarActividadesByInstitucionAndEstado">
<part name="parameters" element="tns:listarActividadesByInstitucionAndEstado"/>
</message>
<message name="listarActividadesByInstitucionAndEstadoResponse">
<part name="parameters" element="tns:listarActividadesByInstitucionAndEstadoResponse"/>
</message>
<message name="listarInstituciones">
<part name="parameters" element="tns:listarInstituciones"/>
</message>
<message name="listarInstitucionesResponse">
<part name="parameters" element="tns:listarInstitucionesResponse"/>
</message>
<message name="getActividadesAceptadasSize">
<part name="parameters" element="tns:getActividadesAceptadasSize"/>
</message>
<message name="getActividadesAceptadasSizeResponse">
<part name="parameters" element="tns:getActividadesAceptadasSizeResponse"/>
</message>
<message name="existeInstitucion">
<part name="parameters" element="tns:existeInstitucion"/>
</message>
<message name="existeInstitucionResponse">
<part name="parameters" element="tns:existeInstitucionResponse"/>
</message>
<message name="listarActividadesByProfesor">
<part name="parameters" element="tns:listarActividadesByProfesor"/>
</message>
<message name="listarActividadesByProfesorResponse">
<part name="parameters" element="tns:listarActividadesByProfesorResponse"/>
</message>
<message name="createWithCategorias">
<part name="parameters" element="tns:createWithCategorias"/>
</message>
<message name="createWithCategoriasResponse">
<part name="parameters" element="tns:createWithCategoriasResponse"/>
</message>
<message name="listarCuponerasBySocio">
<part name="parameters" element="tns:listarCuponerasBySocio"/>
</message>
<message name="listarCuponerasBySocioResponse">
<part name="parameters" element="tns:listarCuponerasBySocioResponse"/>
</message>
<message name="consultarCuponera">
<part name="parameters" element="tns:consultarCuponera"/>
</message>
<message name="consultarCuponeraResponse">
<part name="parameters" element="tns:consultarCuponeraResponse"/>
</message>
<message name="listarCuponerasAdquiridasBySocio">
<part name="parameters" element="tns:listarCuponerasAdquiridasBySocio"/>
</message>
<message name="listarCuponerasAdquiridasBySocioResponse">
<part name="parameters" element="tns:listarCuponerasAdquiridasBySocioResponse"/>
</message>
<message name="consultarSigueUsuario">
<part name="parameters" element="tns:consultarSigueUsuario"/>
</message>
<message name="consultarSigueUsuarioResponse">
<part name="parameters" element="tns:consultarSigueUsuarioResponse"/>
</message>
<message name="dejarSeguirUsuario">
<part name="parameters" element="tns:dejarSeguirUsuario"/>
</message>
<message name="dejarSeguirUsuarioResponse">
<part name="parameters" element="tns:dejarSeguirUsuarioResponse"/>
</message>
<message name="toggleFavoritoActividad">
<part name="parameters" element="tns:toggleFavoritoActividad"/>
</message>
<message name="toggleFavoritoActividadResponse">
<part name="parameters" element="tns:toggleFavoritoActividadResponse"/>
</message>
<message name="listarActividadesByCategorias">
<part name="parameters" element="tns:listarActividadesByCategorias"/>
</message>
<message name="listarActividadesByCategoriasResponse">
<part name="parameters" element="tns:listarActividadesByCategoriasResponse"/>
</message>
<message name="agregarRegistroSinCuponera">
<part name="parameters" element="tns:agregarRegistroSinCuponera"/>
</message>
<message name="agregarRegistroSinCuponeraResponse">
<part name="parameters" element="tns:agregarRegistroSinCuponeraResponse"/>
</message>
<message name="insertarClaseAndPremio">
<part name="parameters" element="tns:insertarClaseAndPremio"/>
</message>
<message name="insertarClaseAndPremioResponse">
<part name="parameters" element="tns:insertarClaseAndPremioResponse"/>
</message>
<message name="cambiarEstadoActividad">
<part name="parameters" element="tns:cambiarEstadoActividad"/>
</message>
<message name="cambiarEstadoActividadResponse">
<part name="parameters" element="tns:cambiarEstadoActividadResponse"/>
</message>
<message name="getSeguidoresByUser">
<part name="parameters" element="tns:getSeguidoresByUser"/>
</message>
<message name="getSeguidoresByUserResponse">
<part name="parameters" element="tns:getSeguidoresByUserResponse"/>
</message>
<message name="getUserByNickname">
<part name="parameters" element="tns:getUserByNickname"/>
</message>
<message name="getUserByNicknameResponse">
<part name="parameters" element="tns:getUserByNicknameResponse"/>
</message>
<message name="getSeguidosByUser">
<part name="parameters" element="tns:getSeguidosByUser"/>
</message>
<message name="getSeguidosByUserResponse">
<part name="parameters" element="tns:getSeguidosByUserResponse"/>
</message>
<message name="getCantValoracionByClass">
<part name="parameters" element="tns:getCantValoracionByClass"/>
</message>
<message name="getCantValoracionByClassResponse">
<part name="parameters" element="tns:getCantValoracionByClassResponse"/>
</message>
<message name="crearRegistroSitio">
<part name="parameters" element="tns:crearRegistroSitio"/>
</message>
<message name="crearRegistroSitioResponse">
<part name="parameters" element="tns:crearRegistroSitioResponse"/>
</message>
<message name="getValoracionesGeneralesByProfe">
<part name="parameters" element="tns:getValoracionesGeneralesByProfe"/>
</message>
<message name="getValoracionesGeneralesByProfeResponse">
<part name="parameters" element="tns:getValoracionesGeneralesByProfeResponse"/>
</message>
<message name="getValoracionByClass">
<part name="parameters" element="tns:getValoracionByClass"/>
</message>
<message name="getValoracionByClassResponse">
<part name="parameters" element="tns:getValoracionByClassResponse"/>
</message>
<message name="createPuntuacionProfesor">
<part name="parameters" element="tns:createPuntuacionProfesor"/>
</message>
<message name="createPuntuacionProfesorResponse">
<part name="parameters" element="tns:createPuntuacionProfesorResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="comprarCuponera">
<part name="parameters" element="tns:comprarCuponera"/>
</message>
<message name="comprarCuponeraResponse">
<part name="parameters" element="tns:comprarCuponeraResponse"/>
</message>
<message name="CuponeraAlreadyPurchaseBySocio">
<part name="fault" element="tns:CuponeraAlreadyPurchaseBySocio"/>
</message>
<message name="consultarSocio">
<part name="parameters" element="tns:consultarSocio"/>
</message>
<message name="consultarSocioResponse">
<part name="parameters" element="tns:consultarSocioResponse"/>
</message>
<message name="getProfesorById">
<part name="parameters" element="tns:getProfesorById"/>
</message>
<message name="getProfesorByIdResponse">
<part name="parameters" element="tns:getProfesorByIdResponse"/>
</message>
<message name="getTipoById">
<part name="parameters" element="tns:getTipoById"/>
</message>
<message name="getTipoByIdResponse">
<part name="parameters" element="tns:getTipoByIdResponse"/>
</message>
<message name="consultarClase">
<part name="parameters" element="tns:consultarClase"/>
</message>
<message name="consultarClaseResponse">
<part name="parameters" element="tns:consultarClaseResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="crearSocio">
<part name="parameters" element="tns:crearSocio"/>
</message>
<message name="crearSocioResponse">
<part name="parameters" element="tns:crearSocioResponse"/>
</message>
<message name="insertarClase">
<part name="parameters" element="tns:insertarClase"/>
</message>
<message name="insertarClaseResponse">
<part name="parameters" element="tns:insertarClaseResponse"/>
</message>
<message name="seguirUsuario">
<part name="parameters" element="tns:seguirUsuario"/>
</message>
<message name="seguirUsuarioResponse">
<part name="parameters" element="tns:seguirUsuarioResponse"/>
</message>
<message name="premioById">
<part name="parameters" element="tns:premioById"/>
</message>
<message name="premioByIdResponse">
<part name="parameters" element="tns:premioByIdResponse"/>
</message>
<message name="PremioNotFoundException">
<part name="fault" element="tns:PremioNotFoundException"/>
</message>
<message name="getRegistroById">
<part name="parameters" element="tns:getRegistroById"/>
</message>
<message name="getRegistroByIdResponse">
<part name="parameters" element="tns:getRegistroByIdResponse"/>
</message>
<message name="getActividadById">
<part name="parameters" element="tns:getActividadById"/>
</message>
<message name="getActividadByIdResponse">
<part name="parameters" element="tns:getActividadByIdResponse"/>
</message>
<message name="editProfeInfo">
<part name="parameters" element="tns:editProfeInfo"/>
</message>
<message name="editProfeInfoResponse">
<part name="parameters" element="tns:editProfeInfoResponse"/>
</message>
<message name="editSocioInfo">
<part name="parameters" element="tns:editSocioInfo"/>
</message>
<message name="editSocioInfoResponse">
<part name="parameters" element="tns:editSocioInfoResponse"/>
</message>
<message name="realizarSorteo">
<part name="parameters" element="tns:realizarSorteo"/>
</message>
<message name="realizarSorteoResponse">
<part name="parameters" element="tns:realizarSorteoResponse"/>
</message>
<message name="premiosOfUser">
<part name="parameters" element="tns:premiosOfUser"/>
</message>
<message name="premiosOfUserResponse">
<part name="parameters" element="tns:premiosOfUserResponse"/>
</message>
<message name="crearProfe">
<part name="parameters" element="tns:crearProfe"/>
</message>
<message name="crearProfeResponse">
<part name="parameters" element="tns:crearProfeResponse"/>
</message>
<message name="imprimirPremio">
<part name="parameters" element="tns:imprimirPremio"/>
</message>
<message name="imprimirPremioResponse">
<part name="parameters" element="tns:imprimirPremioResponse"/>
</message>
<message name="getUserByEmail">
<part name="parameters" element="tns:getUserByEmail"/>
</message>
<message name="getUserByEmailResponse">
<part name="parameters" element="tns:getUserByEmailResponse"/>
</message>
<portType name="Publicador">
<operation name="listarUsuarios">
<input wsam:Action="http://ws/Publicador/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://ws/Publicador/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://ws/Publicador/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://ws/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="publicar">
<input wsam:Action="http://ws/Publicador/publicarRequest" message="tns:publicar"/>
<output wsam:Action="http://ws/Publicador/publicarResponse" message="tns:publicarResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws/Publicador/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/Publicador/loginResponse" message="tns:loginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://ws/Publicador/login/Fault/UnauthorizedException"/>
</operation>
<operation name="agregarRegistro">
<input wsam:Action="http://ws/Publicador/agregarRegistroRequest" message="tns:agregarRegistro"/>
<output wsam:Action="http://ws/Publicador/agregarRegistroResponse" message="tns:agregarRegistroResponse"/>
<fault message="tns:MaxClasesForCuponera" name="MaxClasesForCuponera" wsam:Action="http://ws/Publicador/agregarRegistro/Fault/MaxClasesForCuponera"/>
<fault message="tns:CompraCuponeraNotFoundException" name="CompraCuponeraNotFoundException" wsam:Action="http://ws/Publicador/agregarRegistro/Fault/CompraCuponeraNotFoundException"/>
</operation>
<operation name="getActividadesWithLimitAndAccepted">
<input wsam:Action="http://ws/Publicador/getActividadesWithLimitAndAcceptedRequest" message="tns:getActividadesWithLimitAndAccepted"/>
<output wsam:Action="http://ws/Publicador/getActividadesWithLimitAndAcceptedResponse" message="tns:getActividadesWithLimitAndAcceptedResponse"/>
</operation>
<operation name="listarCuponerasDisponiblesBySocio">
<input wsam:Action="http://ws/Publicador/listarCuponerasDisponiblesBySocioRequest" message="tns:listarCuponerasDisponiblesBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasDisponiblesBySocioResponse" message="tns:listarCuponerasDisponiblesBySocioResponse"/>
</operation>
<operation name="listarActividadesByInstitucionAndEstado">
<input wsam:Action="http://ws/Publicador/listarActividadesByInstitucionAndEstadoRequest" message="tns:listarActividadesByInstitucionAndEstado"/>
<output wsam:Action="http://ws/Publicador/listarActividadesByInstitucionAndEstadoResponse" message="tns:listarActividadesByInstitucionAndEstadoResponse"/>
</operation>
<operation name="listarInstituciones">
<input wsam:Action="http://ws/Publicador/listarInstitucionesRequest" message="tns:listarInstituciones"/>
<output wsam:Action="http://ws/Publicador/listarInstitucionesResponse" message="tns:listarInstitucionesResponse"/>
</operation>
<operation name="getActividadesAceptadasSize">
<input wsam:Action="http://ws/Publicador/getActividadesAceptadasSizeRequest" message="tns:getActividadesAceptadasSize"/>
<output wsam:Action="http://ws/Publicador/getActividadesAceptadasSizeResponse" message="tns:getActividadesAceptadasSizeResponse"/>
</operation>
<operation name="existeInstitucion">
<input wsam:Action="http://ws/Publicador/existeInstitucionRequest" message="tns:existeInstitucion"/>
<output wsam:Action="http://ws/Publicador/existeInstitucionResponse" message="tns:existeInstitucionResponse"/>
</operation>
<operation name="listarActividadesByProfesor">
<input wsam:Action="http://ws/Publicador/listarActividadesByProfesorRequest" message="tns:listarActividadesByProfesor"/>
<output wsam:Action="http://ws/Publicador/listarActividadesByProfesorResponse" message="tns:listarActividadesByProfesorResponse"/>
</operation>
<operation name="createWithCategorias">
<input wsam:Action="http://ws/Publicador/createWithCategoriasRequest" message="tns:createWithCategorias"/>
<output wsam:Action="http://ws/Publicador/createWithCategoriasResponse" message="tns:createWithCategoriasResponse"/>
</operation>
<operation name="listarCuponerasBySocio">
<input wsam:Action="http://ws/Publicador/listarCuponerasBySocioRequest" message="tns:listarCuponerasBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasBySocioResponse" message="tns:listarCuponerasBySocioResponse"/>
</operation>
<operation name="consultarCuponera">
<input wsam:Action="http://ws/Publicador/consultarCuponeraRequest" message="tns:consultarCuponera"/>
<output wsam:Action="http://ws/Publicador/consultarCuponeraResponse" message="tns:consultarCuponeraResponse"/>
</operation>
<operation name="listarCuponerasAdquiridasBySocio">
<input wsam:Action="http://ws/Publicador/listarCuponerasAdquiridasBySocioRequest" message="tns:listarCuponerasAdquiridasBySocio"/>
<output wsam:Action="http://ws/Publicador/listarCuponerasAdquiridasBySocioResponse" message="tns:listarCuponerasAdquiridasBySocioResponse"/>
</operation>
<operation name="consultarSigueUsuario">
<input wsam:Action="http://ws/Publicador/consultarSigueUsuarioRequest" message="tns:consultarSigueUsuario"/>
<output wsam:Action="http://ws/Publicador/consultarSigueUsuarioResponse" message="tns:consultarSigueUsuarioResponse"/>
</operation>
<operation name="dejarSeguirUsuario">
<input wsam:Action="http://ws/Publicador/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"/>
<output wsam:Action="http://ws/Publicador/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"/>
</operation>
<operation name="toggleFavoritoActividad">
<input wsam:Action="http://ws/Publicador/toggleFavoritoActividadRequest" message="tns:toggleFavoritoActividad"/>
<output wsam:Action="http://ws/Publicador/toggleFavoritoActividadResponse" message="tns:toggleFavoritoActividadResponse"/>
</operation>
<operation name="listarActividadesByCategorias">
<input wsam:Action="http://ws/Publicador/listarActividadesByCategoriasRequest" message="tns:listarActividadesByCategorias"/>
<output wsam:Action="http://ws/Publicador/listarActividadesByCategoriasResponse" message="tns:listarActividadesByCategoriasResponse"/>
</operation>
<operation name="agregarRegistroSinCuponera">
<input wsam:Action="http://ws/Publicador/agregarRegistroSinCuponeraRequest" message="tns:agregarRegistroSinCuponera"/>
<output wsam:Action="http://ws/Publicador/agregarRegistroSinCuponeraResponse" message="tns:agregarRegistroSinCuponeraResponse"/>
<fault message="tns:MaxClasesForCuponera" name="MaxClasesForCuponera" wsam:Action="http://ws/Publicador/agregarRegistroSinCuponera/Fault/MaxClasesForCuponera"/>
<fault message="tns:CompraCuponeraNotFoundException" name="CompraCuponeraNotFoundException" wsam:Action="http://ws/Publicador/agregarRegistroSinCuponera/Fault/CompraCuponeraNotFoundException"/>
</operation>
<operation name="insertarClaseAndPremio">
<input wsam:Action="http://ws/Publicador/insertarClaseAndPremioRequest" message="tns:insertarClaseAndPremio"/>
<output wsam:Action="http://ws/Publicador/insertarClaseAndPremioResponse" message="tns:insertarClaseAndPremioResponse"/>
</operation>
<operation name="cambiarEstadoActividad">
<input wsam:Action="http://ws/Publicador/cambiarEstadoActividadRequest" message="tns:cambiarEstadoActividad"/>
<output wsam:Action="http://ws/Publicador/cambiarEstadoActividadResponse" message="tns:cambiarEstadoActividadResponse"/>
</operation>
<operation name="getSeguidoresByUser">
<input wsam:Action="http://ws/Publicador/getSeguidoresByUserRequest" message="tns:getSeguidoresByUser"/>
<output wsam:Action="http://ws/Publicador/getSeguidoresByUserResponse" message="tns:getSeguidoresByUserResponse"/>
</operation>
<operation name="getUserByNickname">
<input wsam:Action="http://ws/Publicador/getUserByNicknameRequest" message="tns:getUserByNickname"/>
<output wsam:Action="http://ws/Publicador/getUserByNicknameResponse" message="tns:getUserByNicknameResponse"/>
</operation>
<operation name="getSeguidosByUser">
<input wsam:Action="http://ws/Publicador/getSeguidosByUserRequest" message="tns:getSeguidosByUser"/>
<output wsam:Action="http://ws/Publicador/getSeguidosByUserResponse" message="tns:getSeguidosByUserResponse"/>
</operation>
<operation name="getCantValoracionByClass">
<input wsam:Action="http://ws/Publicador/getCantValoracionByClassRequest" message="tns:getCantValoracionByClass"/>
<output wsam:Action="http://ws/Publicador/getCantValoracionByClassResponse" message="tns:getCantValoracionByClassResponse"/>
</operation>
<operation name="crearRegistroSitio">
<input wsam:Action="http://ws/Publicador/crearRegistroSitioRequest" message="tns:crearRegistroSitio"/>
<output wsam:Action="http://ws/Publicador/crearRegistroSitioResponse" message="tns:crearRegistroSitioResponse"/>
</operation>
<operation name="getValoracionesGeneralesByProfe">
<input wsam:Action="http://ws/Publicador/getValoracionesGeneralesByProfeRequest" message="tns:getValoracionesGeneralesByProfe"/>
<output wsam:Action="http://ws/Publicador/getValoracionesGeneralesByProfeResponse" message="tns:getValoracionesGeneralesByProfeResponse"/>
</operation>
<operation name="getValoracionByClass">
<input wsam:Action="http://ws/Publicador/getValoracionByClassRequest" message="tns:getValoracionByClass"/>
<output wsam:Action="http://ws/Publicador/getValoracionByClassResponse" message="tns:getValoracionByClassResponse"/>
</operation>
<operation name="createPuntuacionProfesor">
<input wsam:Action="http://ws/Publicador/createPuntuacionProfesorRequest" message="tns:createPuntuacionProfesor"/>
<output wsam:Action="http://ws/Publicador/createPuntuacionProfesorResponse" message="tns:createPuntuacionProfesorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/Publicador/createPuntuacionProfesor/Fault/Exception"/>
</operation>
<operation name="comprarCuponera">
<input wsam:Action="http://ws/Publicador/comprarCuponeraRequest" message="tns:comprarCuponera"/>
<output wsam:Action="http://ws/Publicador/comprarCuponeraResponse" message="tns:comprarCuponeraResponse"/>
<fault message="tns:CuponeraAlreadyPurchaseBySocio" name="CuponeraAlreadyPurchaseBySocio" wsam:Action="http://ws/Publicador/comprarCuponera/Fault/CuponeraAlreadyPurchaseBySocio"/>
</operation>
<operation name="consultarSocio">
<input wsam:Action="http://ws/Publicador/consultarSocioRequest" message="tns:consultarSocio"/>
<output wsam:Action="http://ws/Publicador/consultarSocioResponse" message="tns:consultarSocioResponse"/>
</operation>
<operation name="getProfesorById">
<input wsam:Action="http://ws/Publicador/getProfesorByIdRequest" message="tns:getProfesorById"/>
<output wsam:Action="http://ws/Publicador/getProfesorByIdResponse" message="tns:getProfesorByIdResponse"/>
</operation>
<operation name="getTipoById">
<input wsam:Action="http://ws/Publicador/getTipoByIdRequest" message="tns:getTipoById"/>
<output wsam:Action="http://ws/Publicador/getTipoByIdResponse" message="tns:getTipoByIdResponse"/>
</operation>
<operation name="consultarClase">
<input wsam:Action="http://ws/Publicador/consultarClaseRequest" message="tns:consultarClase"/>
<output wsam:Action="http://ws/Publicador/consultarClaseResponse" message="tns:consultarClaseResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/Publicador/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/Publicador/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="crearSocio">
<input wsam:Action="http://ws/Publicador/crearSocioRequest" message="tns:crearSocio"/>
<output wsam:Action="http://ws/Publicador/crearSocioResponse" message="tns:crearSocioResponse"/>
</operation>
<operation name="insertarClase">
<input wsam:Action="http://ws/Publicador/insertarClaseRequest" message="tns:insertarClase"/>
<output wsam:Action="http://ws/Publicador/insertarClaseResponse" message="tns:insertarClaseResponse"/>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://ws/Publicador/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://ws/Publicador/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
</operation>
<operation name="premioById">
<input wsam:Action="http://ws/Publicador/premioByIdRequest" message="tns:premioById"/>
<output wsam:Action="http://ws/Publicador/premioByIdResponse" message="tns:premioByIdResponse"/>
<fault message="tns:PremioNotFoundException" name="PremioNotFoundException" wsam:Action="http://ws/Publicador/premioById/Fault/PremioNotFoundException"/>
</operation>
<operation name="getRegistroById">
<input wsam:Action="http://ws/Publicador/getRegistroByIdRequest" message="tns:getRegistroById"/>
<output wsam:Action="http://ws/Publicador/getRegistroByIdResponse" message="tns:getRegistroByIdResponse"/>
</operation>
<operation name="getActividadById">
<input wsam:Action="http://ws/Publicador/getActividadByIdRequest" message="tns:getActividadById"/>
<output wsam:Action="http://ws/Publicador/getActividadByIdResponse" message="tns:getActividadByIdResponse"/>
</operation>
<operation name="editProfeInfo">
<input wsam:Action="http://ws/Publicador/editProfeInfoRequest" message="tns:editProfeInfo"/>
<output wsam:Action="http://ws/Publicador/editProfeInfoResponse" message="tns:editProfeInfoResponse"/>
</operation>
<operation name="editSocioInfo">
<input wsam:Action="http://ws/Publicador/editSocioInfoRequest" message="tns:editSocioInfo"/>
<output wsam:Action="http://ws/Publicador/editSocioInfoResponse" message="tns:editSocioInfoResponse"/>
</operation>
<operation name="realizarSorteo">
<input wsam:Action="http://ws/Publicador/realizarSorteoRequest" message="tns:realizarSorteo"/>
<output wsam:Action="http://ws/Publicador/realizarSorteoResponse" message="tns:realizarSorteoResponse"/>
</operation>
<operation name="premiosOfUser">
<input wsam:Action="http://ws/Publicador/premiosOfUserRequest" message="tns:premiosOfUser"/>
<output wsam:Action="http://ws/Publicador/premiosOfUserResponse" message="tns:premiosOfUserResponse"/>
</operation>
<operation name="crearProfe">
<input wsam:Action="http://ws/Publicador/crearProfeRequest" message="tns:crearProfe"/>
<output wsam:Action="http://ws/Publicador/crearProfeResponse" message="tns:crearProfeResponse"/>
</operation>
<operation name="imprimirPremio">
<input wsam:Action="http://ws/Publicador/imprimirPremioRequest" message="tns:imprimirPremio"/>
<output wsam:Action="http://ws/Publicador/imprimirPremioResponse" message="tns:imprimirPremioResponse"/>
</operation>
<operation name="getUserByEmail">
<input wsam:Action="http://ws/Publicador/getUserByEmailRequest" message="tns:getUserByEmail"/>
<output wsam:Action="http://ws/Publicador/getUserByEmailResponse" message="tns:getUserByEmailResponse"/>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="agregarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MaxClasesForCuponera">
<soap:fault name="MaxClasesForCuponera" use="literal"/>
</fault>
<fault name="CompraCuponeraNotFoundException">
<soap:fault name="CompraCuponeraNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getActividadesWithLimitAndAccepted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCuponerasDisponiblesBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividadesByInstitucionAndEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarInstituciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActividadesAceptadasSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividadesByProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createWithCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCuponerasBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCuponerasAdquiridasBySocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarSigueUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dejarSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toggleFavoritoActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividadesByCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarRegistroSinCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MaxClasesForCuponera">
<soap:fault name="MaxClasesForCuponera" use="literal"/>
</fault>
<fault name="CompraCuponeraNotFoundException">
<soap:fault name="CompraCuponeraNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="insertarClaseAndPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeguidoresByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeguidosByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCantValoracionByClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRegistroSitio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getValoracionesGeneralesByProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getValoracionByClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPuntuacionProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="comprarCuponera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CuponeraAlreadyPurchaseBySocio">
<soap:fault name="CuponeraAlreadyPurchaseBySocio" use="literal"/>
</fault>
</operation>
<operation name="consultarSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProfesorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTipoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premioById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PremioNotFoundException">
<soap:fault name="PremioNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getRegistroById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActividadById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProfeInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editSocioInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarSorteo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premiosOfUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imprimirPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Publicador">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:2222/ws/publicador"/>
</port>
</service>
</definitions>