src/conf/xml-resources/web-service-references/publicador_2/wsdl/localhost_2222/ws/publicador.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="UnauthorizedException" type="tns:UnauthorizedException"/>

<xs:complexType name="usuarioDTO">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="NOMBRE" type="xs:string" minOccurs="0"/>
<xs:element name="APELLIDO" type="xs:string" minOccurs="0"/>
<xs:element name="NICKNAME" type="xs:string" minOccurs="0"/>
<xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
<xs:element name="NACIMIENTO" type="xs:dateTime" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="seguidos" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seguidores" type="tns:usuarioDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="blobImage" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnauthorizedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>